$ npm test

> @smokeball-dev/javascript-developer-test@2.0.1 test
> jest

 PASS  src/get-arnie-quotes.test.js
  √ expect no throws (3 ms)
  √ responses to be correct (205 ms)                                                
  √ code to be executed in less than 400ms (202 ms)                                 
                                                                                    
Test Suites: 1 passed, 1 total                                                      
Tests:       3 passed, 3 total
Snapshots:   0 total
Time:        0.967 s, estimated 1 s
Ran all test suites.